numpy
pandas
networkx
PyMetis
tensorboardX
tqdm
requests
geopandas
scipy
Shapely
statsmodels
flask
pyproj
matplotlib
seaborn
fastparquet
# conda install -c dglteam dgl
# conda install pytorch torchvision torchaudio cpuonly -c pytorch